:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color:hsl(250, 37%, 97%); 
    --background:#FFFFFF;
    --black:#000000;
    --color-text: #2F303A;
    --primary-color:#F5F4FA;
    --button-color:#188CE8;
    --color:rgba(255, 255, 255, 0.6);
    }